* {
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  font-family: "Open Sans", sans-serif;
}

main {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "sidebar main main"
  "sidebar footer footer";
}

aside {
  grid-area: sidebar;
  background-color: #1f1f3b;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.top-section {
  grid-area: main;
  background-color: #a9aad2;
  display: flex;
  flex-direction: column;
}

.idea-form {
  width: 50%;
  display: inline-table;

}

.bottom-section {
  grid-area: footer;
  background-color: #eaeaf4;
}

.save-button,
.search-button {
  background-color: #1f1f3b;
}

.idea-card {
  width: 30%;
}

.idea-card-header,
.idea-card-footer {
  height: 10%;
}
.icon {
  height: 1em;
  width: 1em;
}

.left {
  float: left;
}

.right {
  float: right;
}